<p id="notice"><%= notice %></p>

<nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Agenda Pessoal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <% if user_signed_in? %>
                        <p><font color = white>Olá, <%= current_user.email %></font></p>
                      <% end %>
                    </li>
                    <li>
                        <%= link_to "Sair", destroy_user_session_path, :method => 'delete', :class=>'navbar-link'%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

     </div>
        <!-- /.container-fluid -->
   </nav>

<p style="line-height: 2em"><br></p>
<div class="jumbotron">
  <div class="container">
    <h1>Suas Tarefas</h1>
    <p style="line-height: 2em"><br></p>
    <style>
      table{
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width:80%;
      }
      td, th{
        border: 4px solid #87CEEB;
        text-align: left;
        padding: 5px;
      }
      tr:nth-child(even){
        background-color: #ADD8E6;
      }
    
    </style>  
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Content</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tarefas.each do |tarefa| %>
          <tr>
            <td><%= tarefa.title %></td>
            <td><%= tarefa.content %></td>
            <td><%= link_to 'Detalhes', tarefa ,:class=>"btn btn-g btn-success"%></td>
            <td><%= link_to 'Editar', edit_tarefa_path(tarefa),:class=>"btn btn-g btn-warning" %></td>
            <td><%= link_to 'Cumprida!', tarefa, method: :delete, data: { confirm: 'Essa tarefa foi cumprida?' },:class=>"btn btn-g btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <br>

<%= link_to 'Nova Tarefa', new_tarefa_path,:class=>"btn btn-info"%>
</div>