<nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Agenda Pessoal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                      <% if user_signed_in? %>
                        <p><div class = "navbar-brand"><font color = white>Olá <%= current_user.email %></font></p>
                      <% end %>
                    </li>
                    <li>
                        <%= link_to "Sair", destroy_user_session_path, :method => 'delete', :class=>'navbar-link'%>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->

     </div>
        <!-- /.container-fluid -->
   </nav>
<p style="line-height: 4em"><br></p>
<div class="jumbotron">
	<div class="container">
		<h1>Nova Tarefa</h1>
    <p style="line-height: 2em"><br></p>
		<%= render 'form', tarefa: @tarefa %>

		<%= link_to 'Voltar', tarefas_path,:class=>"btn btn-info" %>
	</div>
</div>