<html>
    <header>
       <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Agenda Pessoal</h1>
                <hr>
                <p>Organize seus compromissos e tarefas!</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Descubra mais</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sobre</h2>
                    <hr class="light">
                    <p class="text-faded">Organize suas tarefas de forma simples e organizada!</p>
                    <a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Comece já!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Funcionalidades</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
                        <h3>Atividades</h3>
                        <p class="text-muted">Registre suas tarefas de forma simples e rápida!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
                        <h3>Cadastro</h3>
                        <p class="text-muted">Rápido e fácil, sem nenhuma complicação.</p>
                    </div>
                </div>     
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Entre já!</h2>
                <%= link_to "Login", new_user_session_path, :class => 'btn btn-default btn-xl sr-button'  %> 
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Contatos</h2>
                    <hr class="primary">
                    <p>Algum problema? Alguma dúvida? Sugestão? Fale com a gente!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact "></i>
                    <p>feedback@startbootstrap.com</p>
                </div>
                <div class="col-lg-4 text-center"><div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact "></i>
                    <p>gabrielademoraes10@gmail.com</p>
                </div>
            </div>
        </div>
    </section>
</html>
